body {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};

  font-family: 'Montserrat', sans-serif !important;
}

input.yt-input {
  height: 48px;
  width: 100%;
  list-style: 48px;
  background-color: #fff;
  color: var(--secondary-color);
}

.yt-btn {
  border-radius: 19px;
  background-color: var(--primary-color);
  min-width: 120px;
  height: 38px;
  color: #000;
  font-size: 0.9rem;
  letter-spacing: -0.25px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &.sm {
    font-size: 0.7rem;
  }

  &.secondary {
    background-color: var(--secondary-color);
    color: #fff;
  }
}

.banner {
  border-bottom: 1px solid #cacac9;

  ol {
    height: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;

    a,
    li.active {
      color: #1d1d1b;
      font-weight: bold;
      font-size: 0.9rem;
    }
  }
}

.single-product-page {
  font-weight: 700;

  .sub-section {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .price {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 0.9rem;
    margin-top: 15px;

    .current {
      color: var(--secondary-color);
      font-size: 1.3rem;
    }

    .old {
      color: #a7a9ac;
      text-decoration: line-through;
    }

    .discount {
      background-color: var(--primary-color);
      min-width: 60px;
      height: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .carousel-wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto;

    & > img {
      width: 120px;
      height: 120px;
    }
  }

  .colors {
    .active {
      border: 1px solid var(--secondary-color);
    }
  }
}

.quantity-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 220px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #542e90;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 24px;

  .img {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    max-width: 100%;
    border-radius: 50%;
    background-color: var(--primary-color);
  }
}

.similar-products {
  .title {
    font-weight: bold;
    color: var(--secondary-color);
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .single-product {
    position: relative;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #00000026;
    border-radius: 5px;

    .image {
      .icon-360 {
        position: absolute;
        width: 35px;
        height: 35px;
        left: 15px;
        padding: 5px;
        top: 15px;
        background-color: #fff;
        border-radius: 7px;
      }

      .product-image {
        width: 100%;
        height: 250px;
      }
    }

    .product-info {
      padding: 8px;

      .product-title {
        font-weight: bold;
        margin: 0;
        margin-bottom: 10px;
      }

      .price {
        font-size: 0.9rem;

        &.current {
          color: var(--secondary-color);
          font-size: 1.3rem;
          font-weight: bold;
        }

        &.old {
          color: #a7a9ac;
          text-decoration: line-through;
        }
      }

      .discount {
        background-color: var(--primary-color);
        width: 40px;
        font-size: 0.8rem;
        height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .special-hr {
    background-color: #d9d9d9;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    position: relative;

    .br {
      width: 100%;
      height: 4px;
      position: absolute;
      top: -1px;
      background-color: var(--secondary-color);

      @media (min-width: 768px) {
        width: 75%;
      }
    }
  }
}
